<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.5"
 xmlns="http://java.sun.com/xml/ns/javaee"
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://JAVA.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
 <display-name>FlyAwayAssessmentNew</display-name>

 <servlet>
  <display-name>AdminLoginController</display-name>
  <servlet-name>AdminLoginController</servlet-name>
  <servlet-class>com.controller.LoginController</servlet-class>
 </servlet>
 <servlet>
 	<description>
 	</description>
 	<display-name>LoginControllerFlyAway</display-name>
 	<servlet-name>LoginControllerFlyAway</servlet-name>
 	<servlet-class>com.controller.LoginControllerFlyAway</servlet-class>
 </servlet>
 <servlet>
 	<description>
 	</description>
 	<display-name>ChangePasswordController</display-name>
 	<servlet-name>ChangePasswordController</servlet-name>
 	<servlet-class>com.controller.ChangePasswordController</servlet-class>
 </servlet>
 <servlet>
 	<description>
 	</description>
 	<display-name>PlaceSetupController</display-name>
 	<servlet-name>PlaceSetupController</servlet-name>
 	<servlet-class>com.controller.PlaceSetupController</servlet-class>
 </servlet>
 <servlet>
 	<description>
 	</description>
 	<display-name>AirLinesController</display-name>
 	<servlet-name>AirLinesController</servlet-name>
 	<servlet-class>com.controller.AirLinesController</servlet-class>
 </servlet>
 <servlet>
 	<description>
 	</description>
 	<display-name>FlightSetupController</display-name>
 	<servlet-name>FlightSetupController</servlet-name>
 	<servlet-class>com.controller.FlightSetupController</servlet-class>
 </servlet>
 
 <servlet-mapping>
  <servlet-name>AdminLoginController</servlet-name>
  <url-pattern>/AdminLoginController</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
 	<servlet-name>LoginControllerFlyAway</servlet-name>
 	<url-pattern>/LoginControllerFlyAway</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
 	<servlet-name>ChangePasswordController</servlet-name>
 	<url-pattern>/ChangePasswordController</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
 	<servlet-name>PlaceSetupController</servlet-name>
 	<url-pattern>/PlaceSetupController</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
 	<servlet-name>AirLinesController</servlet-name>
 	<url-pattern>/AirLinesController</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
 	<servlet-name>FlightSetupController</servlet-name>
 	<url-pattern>/FlightSetupController</url-pattern>
 </servlet-mapping>
 <welcome-file-list>
  <welcome-file>Welcome.jsp</welcome-file>
  <welcome-file>index.jsp</welcome-file>
  <welcome-file>index.htm</welcome-file>
  <welcome-file>default.html</welcome-file>
  <welcome-file>default.jsp</welcome-file>
  <welcome-file>default.htm</welcome-file>
 </welcome-file-list>
</web-app>
